/* .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* ======================= PORTFOLIO ================== */

.portfolio-hero {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-filter-btn {
  border-radius: 4px;
  padding: 12px 24px;
  /* border: 1px solid var(--cornflower); */
  border-width: 1px;
  border-style: solid;
  border-color: var(--cornflower);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  transition-property: color, box-shadow, background-color, border-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.portfolio-filter-btn:hover {
  border-color: var(--ocean);
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filter-btn:focus {
  border-color: var(--ocean);
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallary-list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallary-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.gallary-link {
  display: block;
  transition: box-shadow var(--timing-duration) var(--timing-function);
}

.gallary-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallary-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallary-link:hover .gallary-wrapper-text,
.gallary-link:focus .gallary-wrapper-text {
  transform: translateY(0%);
}

.gallary-wrapper-overlay {
  position: relative;
  overflow: hidden;
}

.gallary-wrapper-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  color: var(--cloud);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform var(--timing-duration) var(--timing-function);
}

.gallary-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-description-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
