/* ======================= COLORS ================== */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}

/* ======================= DEFAULT STYLE ================== */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-style: normal;
  font-weight: 400;
}

button {
  cursor: pointer;
  border: none;
  /* background-color: transparent; */
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* ======================= HEADER ================== */
header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo span {
  color: var(--navy-blue);
}

.header-list-link {
  display: inline-block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color var(--timing-duration) var(--timing-function);
}

.header-list-link.active {
  position: relative;
  color: var(--ocean);
}

.header-list-link.active::after {
  position: absolute;
  transform: translate(-50% -50%);
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
}

.header-address-contact {
  display: inline-block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

address {
  font-style: normal;
}

.address-list,
.header-list {
  display: flex;
  gap: 40px;
}

/* ======================= SECTION HERO ================== */

.section-hero {
  max-width: 1440px; /* Почему тут Margin left auto, почему max-width */
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bghero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--grey);
}

.section-hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: var(--white);
}

.section-hero-btn {
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.section-hero-btn:hover,
.section-hero-btn:focus {
  background-color: var(--ocean);
}

/* ======================= SECTION ONE ================== */

.section-one {
  padding: 120px 0;
}

.section-one-list {
  display: flex;
  gap: 24px;
}

.section-one-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.section-one-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 24px 0;
  background: var(--cloud);
}

.section-one-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.section-one-text {
  margin-top: 8px;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======================= SECTION TWO ================== */

.section-two {
  padding-top: 0;
}

.section-two-title {
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.section-two-container {
  display: flex;
  gap: 24px;
}

/* ======================= SECTION THREE ================== */

.section-three {
  background: var(--cloud);
}

.section-three-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.section-three-container {
  display: flex;
  gap: 24px;
}

.section-three-description {
  padding: 32px 0;
  text-align: center;
}

.section-three-team {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.section-three-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-three-wrapper {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  fill: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

/* ======================= SECTION FOUR ================== */

.section-four-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-four-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-four-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.section-four-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  transition-property: border-color, color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.section-four-link:hover,
.section-four-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.section-four-svg {
  fill: currentColor;
}
/* ======================= FOOTER ================== */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--navy-blue);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo span {
  color: var(--cloud);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-social-text {
  color: var(--white);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  fill: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color var(--timing-duration) var(--timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-input-container {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid var(--white);
  border-radius: 4px;
  color: var(--white);
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-input-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.footer-input-icon {
  margin-left: 16px;
}

/* ======================= MODAL WINDOW ================== */

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  opacity: 1;
  visibility: visible;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(46, 47, 66, 0.4);
  transition-property: visibility, opacity;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.backdrop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--timing-duration) var(--timing-function);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: background-color, border;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.close-button-svg {
  transition: fill var(--timing-duration) var(--timing-function);
}

.close-button:hover .close-button-svg {
  fill: var(--white);
}
.close-button:focus .close-button-svg {
  fill: var(--white);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
  border: none;
}
/* ======================= FORM ========================= */

.modal-text {
  color: var(--navy-blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-container {
  margin-bottom: 8px;
}

.form-container-comment {
  margin-bottom: 16px;
}

.form-container-label {
  display: block;
  color: var(--light-slate);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-container-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  color: var(--navy-blue-modal);
  font-size: 12px;
  margin-top: 4px;
  padding: 11px 38px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.form-container-input:focus {
  border-color: var(--iris);
}
.form-container-input:focus + .input-icon {
  fill: var(--iris);
}

.form-container-input::placeholder {
  color: var(--navy-blue-modal);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.wrapper-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.form-container-textarea {
  display: inline-block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.form-container-textarea:focus {
  border-color: var(--iris);
}

.form-container-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--navy-blue-modal);
}

.form-container-textarea:focus {
  border: 1px solid var(--iris);
}

.checkbox-wrapper {
  position: relative;
  margin-bottom: 24px;
}

.input-checked {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  transition-property: border;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.checkbox-label {
  display: block;
  align-items: center;
  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color, border, fill;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.checkbox-icon {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.input-checked:checked + .checkbox-label .checkbox-custom {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.input-checked:checked + .checkbox-label .checkbox-custom .checkbox-icon {
  opacity: 1;
  visibility: visible;
}

.privacy-link {
  color: var(--iris);
  text-decoration: underline;
}

.submit-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  min-width: 169px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--ocean);
}

/* ======================= PORTFOLIO ================== */

.portfolio-hero {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-filter-btn {
  border-radius: 4px;
  padding: 12px 24px;
  /* border: 1px solid var(--cornflower); */
  border-width: 1px;
  border-style: solid;
  border-color: var(--cornflower);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  transition-property: color, box-shadow, background-color, border-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.portfolio-filter-btn:hover {
  border-color: var(--ocean);
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filter-btn:focus {
  border-color: var(--ocean);
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallary-list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallary-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.gallary-link {
  display: block;
  transition: box-shadow var(--timing-duration) var(--timing-function);
}

.gallary-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallary-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallary-link:hover .gallary-wrapper-text,
.gallary-link:focus .gallary-wrapper-text {
  transform: translateY(0%);
}

.gallary-wrapper-overlay {
  position: relative;
  overflow: hidden;
}

.gallary-wrapper-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  color: var(--cloud);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform var(--timing-duration) var(--timing-function);
}

.gallary-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-description-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.portfolio-description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
