/* ======================= SECTION FOUR ================== */

.section-four {
  padding: 96px 0;
}

.section-four-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-four-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.section-four-item {
  flex-basis: calc((100% - 16px * 1) / 2);
  height: 88px;
}

.section-four-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  transition-property: border-color, color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.section-four-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.section-four-svg {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .section-four-list {
    gap: 72px 24px;
  }

  .section-four-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    height: 88px;
  }
}

@media screen and (min-width: 1158px) {
  .section-four {
    padding: 120px 0;
  }

  .section-four-item {
    flex-basis: calc((100% - 24px * 5) / 6);
    height: 88px;
  }

  .section-four-link:hover {
    border-color: var(--ocean);
    color: var(--ocean);
  }
}
