/* ======================= SECTION HERO ================== */

.section-hero {
  max-width: 428px;
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../../images/background/mbghero.jpg");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/background/mbghero@2x.jpg");
  }
}

.section-hero-title {
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.11;
  color: var(--white);
  text-transform: capitalize;
}

.section-hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: 1.5;
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.section-hero-btn:focus {
  background-color: var(--ocean);
}

@media only screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/background/tbghero.jpg");
  }

  .section-hero {
    max-width: 768px;
  }

  .section-hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    letter-spacing: 1.12px;
    line-height: 1.07;
  }

  /* Retina*/
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../../images/background/tbghero@2x.jpg");
    }
  }
}

@media only screen and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/background/bghero.jpg");
  }

  .section-hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .section-hero-btn:hover {
    background-color: var(--ocean);
  }
  /* Retina*/
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../../images/background/bghero@2x.jpg");
    }
  }
}
