/* ======================= MOBILE MENU ======================== */
.mobile-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity visibility pointer-events;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timnig-function);
  transform: translateX(100%);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-modal.is-open {
  transform: translateX(0);
}

.mobile-close-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  width: 24px;
  height: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: background-color fill;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timnig-function);
}
.mobile-close-btn:focus {
  background-color: var(--ocean);
  fill: var(--white);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-link.active {
  color: var(--ocean);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.mobile-address {
  margin-bottom: 48px;
}
.mobile-nav-address {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mobile-nav-social {
  display: flex;
  column-gap: 24px;
  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timnig-function);
}

.mobile-nav-social:focus {
  background-color: var(--green);
}

.mobile-nav-link {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-contact-link-one {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-contact-link-one:focus {
  color: var(--slate);
}

.mobile-contact-link-two {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 428px) {
  .mobile-nav-social {
    column-gap: 56px;
  }
}
